*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 150px;
    width: 150px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px;
    perspective-origin: 50%;
}
.box{
    height: 100%;
    width: 100%;
    border: 1px solid red;

}
.cube{
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    position: relative;
    transform: rotateX(-16deg) rotateY(45deg);
    animation: spin 5s linear 1;
}
@keyframes spin {
    100%{
        transform: rotateY(-360deg);
    }
}
.cube div{
    background: linear-gradient(271.41deg, #CFD4E8 25.4%, #E8EBF8 86.97%);
    height: 150px;
    width: 150px;
    position: absolute;
}
.front{
    transform: translateZ(75px);
}
.right{
    transform: rotateY(-270deg) translateX(75px);
    transform-origin: 100% 0;
}
.back{
     transform: translateZ(-75px) rotateY(180deg);
}
.left{
    transform: rotateY(270deg) translateX(-75px);
    transform-origin:0 50%;
}
.top{
    transform: translateY(-75px) rotateX(90deg);
}
.bottom {
    transform: translateY(75px) rotateX(90deg);
}